@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/proximanova_regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/proximanova_bold.otf') format('opentype');
    font-display: swap;
}